@import '/styles/variables';
@import '/styles/fonts';

.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: $dark;
}

.header {
    width: 20rem; 
    margin: 0 auto;
    padding-top: 25vh;
}

.greeting {
    color: white; 
    text-transform: uppercase;
    font-family: Noto-Bold;
    font-size: 1.8rem;
    margin: 0;
}

.profile {
    margin-top: 5rem;
    color: white;
    display: grid; 
    grid-template-columns: 8rem 12rem;
    grid-template-rows: 7rem 7rem 2rem;
    width: 20rem;
}

.profile_info {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    font-family: Noto-Medium;
    padding-bottom: 1rem;
    grid-column: 2;
    grid-row: 2;
    z-index: 2;
}

.profile_intro {
    font-size: 1.5rem;
    margin: 0;
}

.profile_name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.profile_image {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
}

.image {
    background-image: url("/assets/kaat.png");
    background-repeat: no-repeat;
    width: 14rem; 
    height: 14rem;
    background-size: cover;
}

.tagline {
    font-size: .8rem; 
    font-weight: lighter;
}

.background {
    padding-top: 40vh;
}

.background_image {
    background-image: url("/assets/heart-code.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10rem; 
    height: 20rem;
    margin: 0 auto;
}

.background_title {
    margin: 0;
    color: $primary-color;
    font-family: Noto-Bold;
    font-size: 2rem;
    text-align: center;
    position: relative; 
    top: -13rem;
}

.info {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 10vw;
}

.paragraph {
    font-family: Noto-Light;
    font-size: 1.2rem;
    color: $extra-color; 
    width: 10rem;
}

.intro {
    padding: 2rem;
    max-width: 55rem;
    margin: 0 auto;
}

.title {
    font-family: Noto-Bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.introduction {
    font-family: Noto-Light;
    font-size: 1.2rem;
    line-height: calc(1.2 * 1.7);
    color: white; 
}

.devine {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.devine button {
    font-family: Noto-Medium;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;  
}

.filter__button {
    color: white;
    padding: .5rem 2rem;
    border-radius: .8rem;
    border: .2rem solid white;
    width: 15rem;
    display: flex; 
    justify-content: center;
}

@media screen and (min-width: $breakpoint-small) {
    .header {
        width: 40rem;
        margin: 0 auto;
    }

    .profile {
        grid-template-columns: 18rem 22rem;
        grid-template-rows: 7rem 13rem 2rem;
    }

    .image {
        width: 20rem;
        height: 20rem;
    }

    .profile_intro {
        font-size: 1.8rem;
    }

    .profile_name {
        font-size: 2.5rem;
    }

    .background {
        padding-top: 20vh;
    }

    .background_image {
        width: 20rem;
        height: 30rem;
    }

    .background_title {
        font-size: 5rem;
        top: -18rem;
    }

    .info {
        margin: 0 20vw;
    }

    .paragraph {
        font-size: 1.5rem;
        width: 40rem;
        margin-left: 10rem;
    }
    .devine {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5rem;
        margin-bottom: 10rem; 
    }
}