@import '/styles/variables';

.project {
  position: relative;
  height: 15rem;

  &:hover,
  &:active,
  &:focus {
    .project_image__img {
      opacity: .35;
      transform: scale(1.05);
    }

    @media screen and (min-width: $breakpoint-small) {
      .project__description {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__container { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    padding: 2rem;
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    padding: 1rem 2rem;

    font-family: $font-primary;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $white;
    
    @media screen and (min-width: $breakpoint-medium) {
      opacity: 0;
      transform: translateY(2rem);
      transition: .3s ease-in-out;
      transition-property: opacity, transform;
    }
  }

  &__subtitle {
    margin: 0;
    font-family: $font-bold;
    font-size: 1.5rem;
    color: $white;
  }
  
  &__tags {
    display: flex;
    justify-content: space-between; 
  
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $white;
  
    max-width: 10rem;

    .tag {
      padding: .5rem;
      border-radius: .7rem;
    }
  }

  .project__link {
    position: unset;
  
    &::before {
      content: "";

      position: absolute;
      inset: 0;
      z-index: 3;

      width: 100%;
      height: 100%;
    }
  }
}

.project_image {  
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100vw;
    height: 20rem;
  
    object-fit: cover;
    opacity: .75;
    transition: .3s ease-in-out;
    transition-property: transform, opacity;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .image_container {
    width: calc(100vw / 2);
  }

  .image_overlay {
    width: calc(100vw / 2);
  }

  .image_project {
    width: calc(100vw / 2);
  }

  .project_container {
    width: 10rem;
  }

  .project_description {
    width: 15rem;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .image_container {
    width: calc(100vw / 4);
  }

  .image_overlay {
    width: calc(100vw / 4);
  }

  .image_project {
    width: calc(100vw / 4);
  }

  .project_container {
    width: 15rem;
  }

  .project_description {
    max-width: 20rem;
  }

  .project_container:hover + .image_container img {
    transform: scale(1.2);
  } 
}