@import '/styles/variables';
@import '/styles/fonts';

.container {
    min-height: 92vh; 
    margin: 2rem;
    background-color: $dark;
    color: $white;
}

.middle {
    width: 20rem;
    margin: 0 auto;
}

.cross {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    padding: 1rem;
}

.header {
    padding: 1rem;
    max-width: 20rem;
    margin: 0 auto;
}

.information {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
}

.information_title {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: Noto-Bold;
    font-size: 1.5rem;
    margin: .5rem 0;
}

.tags {
    width: 50vw;
    display: flex; 
    justify-content: space-between;
    text-transform: uppercase;
}

.content {
    padding: 1rem;
    max-width: 20rem;
    margin: 0 auto;
}

.content_info {
    font-family: Noto-Light;
    font-size: 1rem;
    line-height: 150%;
}

.tools {
    display: grid; 
    grid-template-columns: repeat(2, 7rem);
    grid-template-rows: auto;
    font-family: Noto-Medium;
    width: 14rem;
    margin: 0 auto;
}

.video {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
}

.sound {
    margin-top: 1rem;
}

@media screen and (min-width: $breakpoint-small) {
    .header {
        max-width: 40rem;
    }

    .middle {
        width: 40rem;
    }

    .information {
        margin: 1.5rem .5rem;
        max-width: 20rem;
    }

    .tags {
        max-width: 10rem;
    }

    .header {
        display: flex; 
        flex-direction: column-reverse;
    }

    .content {
        max-width: 40rem;
        padding: 1.5rem;
    }

    .tools {
        grid-template-columns: repeat(4, 7rem);
        width: 30rem;
    }

    .video {
        max-width: 40rem;
    }

    .video_file {
        max-width: 40rem;
    }
    
}