@import '/styles/variables';

.container {
  background-color: $dark; 

  @media screen and (min-width: $breakpoint-small) {
    padding: 10vh 0;
  }
}

.overview {
  width: 100vw;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-small) {
    display: grid; 
    grid-template-columns: repeat(2, calc(100vw / 2));

    max-width: 100vw;
  }

  @media screen and (min-width: $breakpoint-medium) {
    display: grid; 
    grid-template-columns: repeat(4, calc(100vw / 4));
  }
}