@import '/styles/variables';

.container {
    background-color: black; 
}

.overview {
    margin: 0 auto;
    width: 100vw;
}

@media screen and (min-width: $breakpoint-small) {
    .container {
        padding-top: 10vh;
    }
    
    .overview {
        display: grid; 
        grid-template-columns: repeat(2, calc(100vw/2));
        max-width: 100vw;
    }
}

@media screen and (min-width: $breakpoint-medium) {
    .overview {
        display: grid; 
        grid-template-columns: repeat(4, calc(100vw/4));
    }
}