@import '/styles/variables';

.filter {
  background-color: $dark;
  
  &_container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 55rem;
  }
  
  &__title {
    font-family: $font-bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: $white;
  }
  
  &__intro {
    font-family: $font-primary;
    font-size: 1.2rem;
    line-height: calc(1.2 * 1.7);
    color: $white; 
  }
  
  &__tags {
    display: flex; 
    flex-direction: column;
    align-items: center;

    button {
      display: flex; 
      justify-content: center;
  
      width: 15rem;
      margin: 2rem 0;
      padding: .5rem 2rem;
  
      font-family: $font-secondary;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      color: $white;
  
      border: .2rem solid $white;
      border-radius: .8rem;
    
      cursor: pointer; 
    }

    @media screen and (min-width: $breakpoint-small) {
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 5rem;
      margin-bottom: 10rem; 
    }
  }
}