@value values: "../styles/vars.module.css";
@value primaryColor, secondaryColor, extraColor, breakpointOne, breakpointTwo from values;

.project {
    display: grid; 
    grid-template-rows: repeat(2, 10rem);
    grid-template-columns: 100vw;
}

.image_container {
    grid-column: 1;
    grid-row: 1 / span 3;  
    position: relative; 
    top: 0; 
    left: 0;
}

.image_overlay {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100vw; 
    height: 20rem;
    position: relative;
    top: 0; 
    left: 0;
    z-index: 1;
}

.image_project {
    width: 100vw;
    height: 20rem;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.project_container {
    grid-row: 1;
    grid-column: 1;
    max-width: 15rem; 
    margin: 2rem;
    z-index: 2;
}

.subtitle {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.tags {
    max-width: 10rem;
    display: flex; 
    justify-content: space-between;
    text-transform: uppercase;
    color: white;
}

.tag {
    padding: .5rem;
    border-radius: .7rem;
}

@media screen and (min-width: breakpointOne) {
    .image_container {
        width: calc(100vw/2);
    }
    .image_overlay {
        width: calc(100vw/2);
    }
    .image_project {
        width: calc(100vw/2);
    }
    .project_container {
        width: 10rem;
    }
}

@media screen and (min-width: breakpointTwo) {
    .image_container {
        width: calc(100vw/4);
    }
    .image_overlay {
        width: calc(100vw/4);
    }
    .image_project {
        width: calc(100vw/4);
    }
    .project_container {
        width: 15rem;
    }
}