@value values: "../styles/vars.module.css";
@value primaryColor, extraColor, breakpointOne, breakpointTwo from values;

.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
}

.header {
    width: 20rem; 
    margin: 0 auto;
    padding-top: 25vh;
}

.greeting {
    color: white; 
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 0;
}

.profile {
    margin-top: 5rem;
    color: white;
    display: grid; 
    grid-template-columns: 8rem 12rem;
    grid-template-rows: 7rem 7rem 2rem;
    width: 20rem;
}

.profile_info {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
    grid-column: 2;
    grid-row: 2;
    z-index: 2;
}

.profile_intro {
    font-size: 1.5rem;
    margin: 0;
}

.profile_name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.profile_image {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
}

.image {
    background-image: url("/assets/kaat.png");
    background-repeat: no-repeat;
    width: 14rem; 
    height: 14rem;
    background-size: cover;
}

.tagline {
    font-size: .8rem; 
    font-weight: lighter;
}

.background {
    padding-top: 40vh;
}

.background_image {
    background-image: url("/assets/heart-code.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10rem; 
    height: 20rem;
    margin: 0 auto;
}
.background_title {
    margin: 0;
    color: primaryColor;
    font-size: 2rem;
    text-align: center;
    position: relative; 
    top: -13rem;
}

.info {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 10vw;
}

.paragraph {
    font-size: 1.2rem;
    color: extraColor; 
    width: 10rem;
}

@media screen and (min-width: breakpointOne) {
    .header {
        width: 40rem;
        margin: 0 auto;
    }

    .profile {
        grid-template-columns: 18rem 22rem;
        grid-template-rows: 7rem 13rem 2rem;
    }

    .image {
        width: 20rem;
        height: 20rem;
    }

    .profile_intro {
        font-size: 1.8rem;
    }

    .profile_name {
        font-size: 2.5rem;
    }

    .background {
        padding-top: 20vh;
    }

    .background_image {
        width: 20rem;
        height: 30rem;
    }

    .background_title {
        font-size: 5rem;
        top: -18rem;
    }

    .info {
        margin: 0 20vw;
    }

    .paragraph {
        font-size: 1.5rem;
        width: 20rem;
    }
}