@value values: "../styles/vars.module.css";
@value extraColor, breakpointOne, breakpointTwo from values;

.container {
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 40vh;
}

.background_content {
    width: 20rem;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.image {
    background-image: url("/assets/heart-code.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 7rem; 
    height: 20rem;
}

.info {
    font-size: 1.2rem;
    color: extraColor; 
    width: 10rem;
}

@media screen and (min-width: breakpointOne) {
    .background_content {
        width: 45rem;
    }

    .image {
        width: 15rem;
        height: 25rem;
    }

    .info {
        font-size: 1.5rem;
        width: 20rem;
        align-self: center;
    }
}

@media screen and (min-width: breakpointTwo) {
    .image {
        left: 20rem;
    }

    .info {
        left: 40rem;
    }
}