@value values: "../styles/vars.module.css";
@value primaryColor, secondaryColor, extraColor, breakpointOne, breakpointTwo from values;

.container {
    padding-top: 10vh;
    background-color: black;
}

.overview {
    margin: 0 auto;
    width: 100vw;
}

@media screen and (min-width: breakpointOne) {
    .overview {
        display: grid; 
        grid-template-columns: repeat(2, calc(100vw/2));
        max-width: 100vw;
    }
}

@media screen and (min-width: breakpointTwo) {
    .overview {
        display: grid; 
        grid-template-columns: repeat(4, calc(100vw/4));
    }
}