@value values: "../styles/vars.module.css";
@value primaryColor, secondaryColor, extraColor, breakpointOne, breakpointTwo from values;

.container {
    padding-top: 10vh;
    background-color: white;
}

.intro {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

.title {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

.paragraph {
    font-size: 1.2rem;
    color: black; 
}

.devine {
    font-size: 1.5rem;
    margin: 0; 
    text-align: center;
    font-weight: bold;
}

.gold {
    color: primaryColor;
}

.orange {
    color: extraColor;
}

.blue {
    color: secondaryColor;
}

.overview {
    margin: 0 auto;
    width: 100vw;
}

.bottom {
    max-width: 20rem; 
    margin: 0 auto;
}

.button {
    padding: .5rem;
    font-size: 1.5rem;
    color: primaryColor;
    text-align: center;
    border: .2rem solid primaryColor; 
    border-radius: .5rem;
    cursor: pointer;
}

.end {
    font-size: 1.2rem; 
    color: extraColor;
    text-align: center;
}

@media screen and (min-width: breakpointOne) {
    .overview {
        display: grid; 
        grid-template-columns: repeat(2, calc(100vw/2));
        max-width: 100vw;
    }
}

@media screen and (min-width: breakpointTwo) {
    .overview {
        display: grid; 
        grid-template-columns: repeat(4, calc(100vw/4));
    }
}