@import '/styles/variables';

.container {
  width: 100vw;
  background-color: $dark;

  @media screen and (min-width: $breakpoint-small) {
    padding-top: 2.5rem;
  }
}

.footer {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center; 

  margin: 0 auto;
  padding: .5rem;

  max-width: 40rem;
}

.paragraph {
  color: $white;
}

.socials { 
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
  width: 10rem;
}