@value values: "../styles/vars.module.css";
@value primaryColor, secondaryColor, extraColor from values;

.container {
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 40vh;
}

.image {
    background-image: url("/assets/heart-code.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10rem; 
    height: 20rem;
    position: relative; 
    left: -4rem;
}

.info {
    font-size: 1.2rem;
    color: extraColor; 
    padding-left: 8rem;
    padding-right: 2rem;
    position: relative; 
    top: -17rem;
}