@value values: "../styles/vars.module.css";
@value primaryColor, secondaryColor, extraColor, breakpointOne, breakpointTwo from values;

.container {
    padding-top: 10vh;
}

.intro {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

.title {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

.paragraph {
    font-size: 1.2rem;
    color: black; 
}

.devine {
    font-size: 1.5rem;
    margin: 0; 
    text-align: center;
    font-weight: bold;
}

.gold {
    color: primaryColor;
}

.orange {
    color: extraColor;
}

.blue {
    color: secondaryColor;
}

.overview {
    margin: 0 auto;
    width: 20rem;
}

.project {
    margin-bottom: 2.5rem;
    padding: 2rem 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: .2rem;
    width: 20rem;
    height: 23rem;
}

.project_container {
    max-width: 15rem; 
    margin: 0 auto;
}

.subtitle {
    margin: 0;
    font-size: 1.5rem;
    height: 4rem;
}

.tags {
    max-width: 10rem;
    display: flex; 
    justify-content: space-between;
    text-transform: uppercase;
}

.bottom {
    max-width: 20rem; 
    margin: 0 auto;
}

.button {
    padding: .5rem;
    font-size: 1.5rem;
    color: primaryColor;
    text-align: center;
    border: .2rem solid primaryColor; 
    border-radius: .5rem;
}

.end {
    font-size: 1.2rem; 
    color: extraColor;
    text-align: center;
}

@media screen and (min-width: breakpointOne) {
    .overview {
        display: grid; 
        grid-template-columns: repeat(2, 20rem);
        grid-gap: .5rem;
        margin: 0 auto;
        width: 40.5rem;
    }
}

@media screen and (min-width: breakpointTwo) {
    .overview {
        display: grid; 
        grid-template-columns: repeat(3, 20rem);
        grid-gap: .5rem;
        margin: 0 auto;
        width: 60.5rem;
    }
}