$primary-color: #DFBC00;
$secondary-color: #2E2C73;
$extra-color:  #DC9104;
$white: #FFFFFF;
$dark: #191919;

$breakpoint-small: 640px;
$breakpoint-medium: 1024px;

$font-primary: Noto-Light, Arial, Helvetica, sans-serif;
$font-secondary: Noto-Medium, Arial, Helvetica, sans-serif;
$font-bold: Noto-Bold, Arial, Helvetica, sans-serif;